---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
  <div class="row">

    <div class="col-md-12 main content-panel">

      <div class="gravatar">
        <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
      </div>

      <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

      <div class="author-text">
        {{ site.title_description }}
      </div>

      {% include social_links.html %}
    </div>
    <div class="col-md-12 main content-panel">

      <div class="articles">

        <h2>Latest Blog Articles</h2>

        <ul>
          {% for post in site.posts | limit: site.post_limit %}
          {% unless post.pubdraft %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
          </li>
          {% endunless %}
          {% endfor %}

          <li>

            <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
          </li>
        </ul>

      </div>

    </div>

    <div class="col-md-12 main content-panel">

      <div class="about">

	      <h2>About Me</h2>

		I like researching the internals of machine learning frameworks, compilers, parallel computing, and deep learning. I'm just discovering these cool things and am interested in where I could put all these together.
		<br/>
		<br/>

		I contribute to PyTorch for learning things out of curiosity and obsession. Here's the link to all my <a href="https://github.com/pytorch/pytorch/pulls/khushi-411">pull requests</a>. Currently, I'm working as a Software Engineer at Augment. Previously, I worked as a Compiler Developer with Ondřej Čertík on adding new features to the LPython and LFotran compilers. I've also contributed to the CuPy (via GSoC and Open-Source), where I started an initiative to add interpolate functions in CuPy and worked on various experimental fusion and kernel methods. Before that, I interned at Quansight-Labs, contributing to the NumPy and discovering multiple compilers and interpreters.
		<br/>
		<br/>

		In my free time, I enjoy drawing and writing, and I mostly love traveling, exploring different places, and playing adventurous games.
	<section id="cd-timeline" class="cd-container">

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img class="cd-timeline-augment" src="{{site-base}}/assets/augment.jpg">
            </div>
            <div class="cd-timeline-content">
              <h2>Augment</h2>
              <p>Software Enginer</p>
              <span class="cd-date">Jun'24 - Present</span>
            </div> <!-- cd-timeline-content -->
          </div>

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img class="cd-timeline-gsi" src="{{site-base}}/assets/gsi.jpeg">
            </div>
            <div class="cd-timeline-content">
              <h2>GSI Technology</h2>
              <p>Compiler Developer; Contributed to LFortran and LPython</p>
              <span class="cd-date">Sept'23 - March'24</span>
            </div> <!-- cd-timeline-content -->
          </div>

	  <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img class="cd-timeline-gsoc" src="{{site-base}}/assets/gsoc.png">
            </div>
            <div class="cd-timeline-content">
              <h2>Google Summer of Code</h2>
              <p>Student Software Developer; Contributed to CuPy</p>
              <span class="cd-date">June'22 - Sept'22</span>
            </div> <!-- cd-timeline-content -->
          </div>

	  <div class="cd-timeline-block">
	    <div class="cd-timeline-img cd-picture">
              <img class="cd-timeline-quansight" src="{{site-base}}/assets/quansight.jpg">
            </div>
	    <div class="cd-timeline-content">
	      <h2>Quansight Labs</h2>
              <p>Software Engineer Internship; Contributed to NumPy</p>
   	      <span class="cd-date">July'21 - Sept'21</span>
	    </div> <!-- cd-timeline-content -->
          </div>

	</section> <!-- cd-timeline -->

	</div>
    </div>

    <div class="col-md-12 main content-panel">

      <div class="blogs">
        <h2>Things that keep me Hooked</h2>
	<h4>PyTorch Related</h3>
        <ul>
		<li>Edward Z. Yang's &mdash; <a href="http://ezyang.com/">ezyang.com</a>, <a href="https://pytorch-dev-podcast.simplecast.com/">PyTorch Developer Podcast</a>, <a href="https://www.youtube.com/@edwardzyang/videos">YouTube</a></li>
		<li>Piotr Bialecki's replies in &mdash; <a href="https://discuss.pytorch.org/">Discussion Forum</a></li>
		<li>Thomas Viehmann's Blog &mdash; <a href="https://lernapparat.de/">Lernapparat</a></li>
		<li>Horace He &mdash; <a href="https://twitter.com/cHHillee">Twitter</a>, <a href="https://www.threads.net/@chhilleee">Threads</a></li>
		<li>PyTorch Developers Discussions in &mdash; <a href="https://dev-discuss.pytorch.org/">dev-discuss</a></li>

	</ul>

    <h4>CUDA</h4>
    <ul>
        <li>Book by Wen-mei W. Hwu, David B. Kirk, Izzat El Hajj &mdash; <a href="https://www.amazon.in/Programming-Massively-Parallel-Processors-Hands/dp/0323912311">Programming Massively Parallel Processors: A Hands-on Approach</a></li>
        <li>CUDA Mode &mdash; <a href="https://discord.gg/cudamode">Discord</a></li>
    </ul>

	<h4>C++ Stuff</h4>
	<ul>
		<li>CppCon &mdash; <a href="https://www.youtube.com/@CppCon">Link</a></li>
		<li>C++ Weekly With Jason Turner &mdash; <a href="https://www.youtube.com/channel/UCxHAlbZQNFU2LgEtiqd2Maw">Link</a></li>
	
	</ul>

	<h4>Deep Learning</h4>
        <ul>
            <li>Andrej Karpathy's &mdash; <a href="https://karpathy.ai/">Blog</a>, <a href="https://www.youtube.com/@AndrejKarpathy">YouTube</a></li>
                <li>François Fleuret's Book &mdash; <a href="https://fleuret.org/public/lbdl.pdf">The Little Book of Deep Learning</a></li>
		<li>Christopher Olah's Blog &mdash; <a href="http://colah.github.io/">colah.github.io</a></li>

        </ul>

	<h4>Cool Tools</h4>
        <ul>
                <li>carbon &mdash; <a href="https://carbon.now.sh/">carbon.now.sh</a></li>
		<li>Web-based drawing tool &mdash; <a href="https://excalidraw.com/">Excalidraw</a></li>
		<li>For presentation &mdash; <a href="https://github.com/thomasjpfan/slides-template-hugo">Thomas J. Fan Slides</a>, <a href="https://github.com/khushi-411/gsoc-cupy-talk">My Slides</a>, <a href="https://hackmd.io/">hackmd.io</a>, <a href="https://www.canva.com/">canva.com</a></li>
		<li>Online Latex Editor &mdash; <a href="https://www.overleaf.com">Overleaf</a></li>

        </ul>

      </div>
    </div>

   </div>
 </div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl }}/js/timeline.js" type="text/javascript"></script>
